{% include './header.html' %}

    <!--=================================
    Articles -->
    <section class="space-ptb position-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-10 text-center">
            <!-- Section Title START -->
            <div class="section-title">
              <h2 class="title">آخرین اخبار</h2>
              {% comment %} <p>
                Check out our latest blog posts, articles, client success
                stories and essential announcement
              </p> {% endcomment %}
            </div>
            <!-- Section Title END -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 mb-0">
            <!-- Blog 02 START -->
            {% for blog in blogs %}
              <div class="blog d-md-flex border-bottom mb-4 pb-4">
              <!-- Blog image -->
              <div class="blog-image mr-0 mr-sm-3">
                <img
                  class="img-fluid border-radius"
                  src="{% if blog.thumbnail %}{{blog.thumbnail.url}}{% endif %}"
                  alt=""
                />
              </div>
              <!-- Blog content -->
              <div class="blog-content pt-4 pt-md-0 border-0">
                <h5 class="blog-title mb-3">
                  <a
                    href="/blog/{{blog.id}}"
                    >{{blog.title}}</a
                  >
                </h5>
                <div class="blog-meta mb-0">
                  <ul class="list-unstyled mb-0 d-flex">
                    <li class="mr-3">
                      <i class="fas fa-calendar-alt pr-1"></i>{{blog.created_at}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
            <!-- Blog 02 END -->
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Articles -->

{% include './footer.html' %}
