{% include './header.html' %}

<div class="space-ptb position-relative">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-xs-12"
        style="margin: 0 auto"
      >
        <div class="single-post">
          <div class="post-header mb-5 text-center">
            <h2 class="post-title mt-2">{{blog.title}}</h2>

            <div class="post-meta">
              <span class="text-uppercase font-sm letter-spacing-1 mr-3"
                >{{blog.teacher}}</span
              >
              <span class="text-uppercase font-sm letter-spacing-1"
                >{{blog.created_at}}</span
              >
            </div>
            <div class="post-featured-image mt-5">
              <img
                src="{%if blog.thumbnail%}{{blog.thumbnail.url}}{%endif%}"
                class="img-fluid w-100"
                alt="featured-image"
              />
            </div>
          </div>
          <div class="post-body">
            <div
              class="entry-content"
              style="direction: rtl; text-align: justify"
            >
              {{blog.content|safe}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include './footer.html' %}
