{% include './header.html' %}

<div class="space-ptb position-relative">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-md-12 col-sm-12 col-xs-12"
        style="margin: 0 auto"
      >
        <div class="single-post">
          <div class="post-header mb-5 text-center">
            <h2 class="post-title mt-2">تماس با ما</h2>
          <div class="post-body">
            <div
              class="entry-content"
              style="direction: rtl; text-align: justify"
            >
               نشانی: تهران، بزرگراه خلیج فارس، روبروی حرم امام خمینی(ره)، دانشگاه آزاد اسلامی واحد یادگار امام خمینی(ره) شهرری. دسترسی: ایستگاه مترو شاهد (خط ۱)
 <br>
 تلفن: ۵۵۲۲۹۲۰۰ -۹
 <br>
 کد پستی: ۱۸۱۵۱۶۳۱۱۱
 <br>
 ساعات پاسخگویی: ۷/۳۰ الی ۱۴ (یکشنبه لغایت پنجشنبه)
 <br>
 جهت اطلاع از آخرین اخبار و رویدادهای واحد، اطلاعیه های آموزشی ، تشکیل و عدم تشکیل کلاسها  کانال رسمی  " روابط عمومی "
 <br>
  در پیام رسان   " ایتا "     https://eitaa.com/azad_iausr 
  <br>
  ...در اینستاگرام:     https://www.instagram.com/azad_iausr.official 
  <br>
  ....در آپارات:     https://aparat.com/azad_shahrerey
            <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include './footer.html' %}
