    <!--=================================
    Footer-->
    <footer
      class="space-pt bg-overlay-black-90 bg-holder footer mt-n5">
      <div class="container pt-5">
        <div class="row pb-5 pb-lg-6 mb-lg-3">
          <div class="col-sm-6 col-lg-4 mb-4 mb-lg-0 pr-lg-5">
            <a
              href="http://themes.potenzaglobalsolutions.com/html/academic/index.html"
              ><img
                class="img-fluid mb-3 footer-logo"
                src="templates/img/logo-light.svg"
                alt=""
            /></a>
            <p class="text-white">
              دانشگاه آزاد - واحد یادگار امام
              <br>
              گروه کامپیوتر
            </p>
            <h5 class="text-white mb-2 mb-sm-4">شبکه های اجتماعی</h5>
            <div class="social-icon social-icon-style-02">
              <ul>
                {% comment %} <li>
                  <a
                    href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </li> {% endcomment %}
                <li>
                  <a
                    href="https://www.instagram.com/azad_iausr.official"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-2 mb-4 mb-lg-0">
            <h5 class="text-white mb-2 mb-sm-4">Category</h5>
            <div class="footer-link">
              <ul class="list-unstyled mb-0">
                <li>
                  <a
                    class="text-white"
                    href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                    >Economics</a
                  >
                </li>
                <li>
                  <a
                    class="text-white"
                    href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                    >Natural</a
                  >
                </li>
                <li>
                  <a
                    class="text-white"
                    href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                    >Architecture</a
                  >
                </li>
                <li>
                  <a
                    class="text-white"
                    href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                    >Electrical</a
                  >
                </li>
                <li>
                  <a
                    class="text-white"
                    href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                    >Biological</a
                  >
                </li>
                <li>
                  <a
                    class="text-white"
                    href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                    >Psychology</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-2 mb-4 mb-sm-0">
            <h5 class="text-white mb-2 mb-sm-4">لینک های مفید</h5>
            <div class="footer-link">
              <ul class="list-unstyled mb-0">
                <li>
                  <a
                    class="text-white"
                    href="http://iausr.ac.ir/fa"
                    >سایت اصلی دانشگاه</a
                  >
                </li>
                <li>
                  <a
                    class="text-white"
                    href="/form"
                    >فرم ها</a
                  >
                </li>
                <li>
                  <a
                    class="text-white"
                    href="/teacher/list"
                    >اساتید</a
                  >
                </li>
                <li>
                  <a
                    class="text-white"
                    href="/blog/list"
                    >اخبار</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <h5 class="text-white mb-2 mb-sm-4">ارتباط با ما</h5>
            <div class="footer-contact-info">
              <div class="contact-address mt-4">
                <div class="contact-item">
                  <i class="fas fa-map-marker-alt"></i>
                  <p class="ml-3 mb-0 text-white">
                     تهران، بزرگراه خلیج فارس، روبروی حرم امام خمینی(ره)، دانشگاه آزاد اسلامی واحد یادگار امام خمینی(ره) شهرری. 
                     <br>
                     دسترسی: ایستگاه مترو شاهد (خط ۱)
                  </p>
                </div>
                <div class="contact-item">
                  <i class="fas fa-microphone-alt"></i>
                  <p class="mb-0 font-weight-bold ml-3">
                    <a
                      class="text-white"
                      href=""
                      >۵۵۲۲۹۲۰۰ -۹</a
                    >
                  </p>
                </div>
                <div class="contact-item mb-0">
                  <i class="fas fa-headset"></i>
                  <a
                    class="text-white ml-3 text-white"
                    href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                    >letstalk@academic.com</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom bg-dark py-4">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12 text-center">
              <p class="mb-0 text-white">
                ©1400
                <a
                  href=""
                  >محمدحسین بخشی پور</a
                >
                تمامی حقوق محقوظ است
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--=================================
    Footer-->

    <!--=================================
    Back To Top-->
    <div id="back-to-top" class="back-to-top" style="">up</div>
    <!--=================================
    Back To Top-->

    <!--=================================
    Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="templates/js/jquery-3.5.1.min.js"></script>
    <script src="templates/js/popper.min.js"></script>
    <script src="templates/js/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="templates/js/jquery.appear.js"></script>
    <script src="templates/js/jquery.countTo.js"></script>
    <script src="templates/js/select2.full.js"></script>
    <script src="templates/js/owl.carousel.min.js"></script>
    <script src="templates/js/swiper.min.js"></script>
    <script src="templates/js/SwiperAnimation.min.js"></script>
    <script src="templates/js/jquery.magnific-popup.min.js"></script>
    <script src="templates/js/jarallax.js"></script>
    <script src="templates/js/shuffle.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="templates/js/custom.js"></script>
  </body>
</html>
