{% include './header.html' %}

    <!--=================================
    Banner -->
    <section class="banner position-ralative">
      <div
        id="main-slider"
        class="
          swiper-container
          h-800 h-lg-700 h-md-600 h-sm-400
          swiper-container-initialized swiper-container-horizontal
        "
      >
        <div
          class="swiper-wrapper"
          style="
            transition-duration: 0ms;
            transform: translate3d(-3810px, 0px, 0px);
          "
        >
          <div
            class="
              swiper-slide
              align-items-center
              d-flex
              bg-overlay-black-40
              swiper-slide-duplicate swiper-slide-duplicate-active
            "
            style="
              background-image: url('templates/img/03.jpg');
              background-size: cover;
              background-position: center center;
              width: 1905px;
            "
            data-swiper-slide-index="1"
          >
            <div class="swipeinner container">
              <div class="row justify-content-start">
                <div class="col-xl-8 col-lg-10 col-md-12">
                  <div class="slider-2">
                    <div
                      class="animated"
                      data-swiper-animation="fadeInUp"
                      data-duration="1s"
                      data-delay="0.25s"
                      style="visibility: hidden"
                    >
                      <h1
                        class="animated text-white mb-4"
                        data-swiper-animation="fadeInUp"
                        data-duration="1s"
                        data-delay="0.25s"
                        style="visibility: hidden"
                      >
                        The Education You Want. The Attention You Deserve
                      </h1>
                      <div
                        class="animated text-dark"
                        data-swiper-animation="fadeInUp"
                        data-duration="2.5s"
                        data-delay="0.25s"
                        style="visibility: hidden"
                      >
                        <p class="text-white d-none d-sm-block">
                          There are basically six key areas to higher
                          achievement. Some people will tell you there are four
                          while others may tell you there are eight.
                        </p>
                      </div>
                      <a
                        href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                        class="animated4 btn btn-dark mt-4"
                        data-swiper-animation="fadeInUp"
                        data-duration="3s"
                        data-delay="0.25s"
                        style="visibility: hidden"
                        >Learn More<span></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Swiper Slider 1-->
          <div
            class="
              swiper-slide
              align-items-center
              d-flex
              bg-overlay-black-40
              swiper-slide-prev swiper-slide-duplicate-next
            "
            style="
              background-image: url('templates/img/01.jpg');
              background-size: cover;
              background-position: center center;
              width: 1905px;
            "
            data-swiper-slide-index="0"
          >
            <div class="swipeinner container">
              <div class="row justify-content-center text-center">
                <div class="col-lg-10 col-md-12">
                  <div class="slider-1">
                    <div
                      class=""
                      data-swiper-animation="fadeInUp"
                      data-duration="1s"
                      data-delay="0.25s"
                      style="
                        visibility: visible;
                        animation-duration: 1s;
                        animation-delay: 0.25s;
                      "
                    >
                      <h1
                        class="text-white mb-4"
                        data-swiper-animation="fadeInUp"
                        data-duration="1.5s"
                        data-delay="0.25s"
                        style="
                          visibility: visible;
                          animation-duration: 1.5s;
                          animation-delay: 0.25s;
                        "
                      >
                        Exceptional Education. Exceptional Value.
                      </h1>
                      <div
                        class="text-white px-lg-5"
                        data-swiper-animation="fadeInUp"
                        data-duration="2.5s"
                        data-delay="0.25s"
                        style="
                          visibility: visible;
                          animation-duration: 2.5s;
                          animation-delay: 0.25s;
                        "
                      >
                        <p class="d-none d-sm-block">
                          The first thing to remember about success is that it
                          is a process nothing more, nothing less. There is
                          really no magic to it and it’s not reserved only for a
                          select few people.
                        </p>
                      </div>
                      <a
                        href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                        class="animated4 btn btn-white mt-4 mr-1 mr-sm-2"
                        data-swiper-animation="fadeInUp"
                        data-duration="3.5s"
                        data-delay="0.25s"
                        style="
                          visibility: visible;
                          animation-duration: 3.5s;
                          animation-delay: 0.25s;
                        "
                        >Read More<span></span
                      ></a>
                      <a
                        href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                        class="animated4 btn btn-primary mt-4 ml-1 ml-sm-2"
                        data-swiper-animation="fadeInUp"
                        data-duration="3.5s"
                        data-delay="0.25s"
                        style="
                          visibility: visible;
                          animation-duration: 3.5s;
                          animation-delay: 0.25s;
                        "
                        >Learn More<span></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Swiper Slider 2-->
          <div
            class="
              swiper-slide
              align-items-center
              d-flex
              bg-overlay-black-40
              swiper-slide-active
            "
            style="
              background-image: url('templates/img/03.jpg');
              background-size: cover;
              background-position: center center;
              width: 1905px;
            "
            data-swiper-slide-index="1"
          >
            <div class="swipeinner container">
              <div class="row justify-content-start">
                <div class="col-xl-8 col-lg-10 col-md-12">
                  <div class="slider-2">
                    <div
                      class="fadeInUp animated"
                      data-swiper-animation="fadeInUp"
                      data-duration="1s"
                      data-delay="0.25s"
                      style="
                        visibility: visible;
                        animation-duration: 1s;
                        animation-delay: 0.25s;
                      "
                    >
                      <h1
                        class="text-white mb-4 fadeInUp animated"
                        data-swiper-animation="fadeInUp"
                        data-duration="1s"
                        data-delay="0.25s"
                        style="
                          visibility: visible;
                          animation-duration: 1s;
                          animation-delay: 0.25s;
                        "
                      >
                        The Education You Want. The Attention You Deserve
                      </h1>
                      <div
                        class="text-dark fadeInUp animated"
                        data-swiper-animation="fadeInUp"
                        data-duration="2.5s"
                        data-delay="0.25s"
                        style="
                          visibility: visible;
                          animation-duration: 2.5s;
                          animation-delay: 0.25s;
                        "
                      >
                        <p class="text-white d-none d-sm-block">
                          There are basically six key areas to higher
                          achievement. Some people will tell you there are four
                          while others may tell you there are eight.
                        </p>
                      </div>
                      <a
                        href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                        class="animated4 btn btn-dark mt-4 fadeInUp animated"
                        data-swiper-animation="fadeInUp"
                        data-duration="3s"
                        data-delay="0.25s"
                        style="
                          visibility: visible;
                          animation-duration: 3s;
                          animation-delay: 0.25s;
                        "
                        >Learn More<span></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="
              swiper-slide
              align-items-center
              d-flex
              bg-overlay-black-40
              swiper-slide-duplicate
              swiper-slide-next
              swiper-slide-duplicate-prev
            "
            style="
              background-image: url('templates/img/01.jpg');
              background-size: cover;
              background-position: center center;
              width: 1905px;
            "
            data-swiper-slide-index="0"
          >
            <div class="swipeinner container">
              <div class="row justify-content-center text-center">
                <div class="col-lg-10 col-md-12">
                  <div class="slider-1">
                    <div
                      class=""
                      data-swiper-animation="fadeInUp"
                      data-duration="1s"
                      data-delay="0.25s"
                      style="visibility: hidden"
                    >
                      <h1
                        class="text-white mb-4"
                        data-swiper-animation="fadeInUp"
                        data-duration="1.5s"
                        data-delay="0.25s"
                        style="visibility: hidden"
                      >
                        Exceptional Education. Exceptional Value.
                      </h1>
                      <div
                        class="text-white px-lg-5"
                        data-swiper-animation="fadeInUp"
                        data-duration="2.5s"
                        data-delay="0.25s"
                        style="visibility: hidden"
                      >
                        <p class="d-none d-sm-block">
                          The first thing to remember about success is that it
                          is a process nothing more, nothing less. There is
                          really no magic to it and it’s not reserved only for a
                          select few people.
                        </p>
                      </div>
                      <a
                        href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                        class="animated4 btn btn-white mt-4 mr-1 mr-sm-2"
                        data-swiper-animation="fadeInUp"
                        data-duration="3.5s"
                        data-delay="0.25s"
                        style="visibility: hidden"
                        >Read More<span></span
                      ></a>
                      <a
                        href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                        class="animated4 btn btn-primary mt-4 ml-1 ml-sm-2"
                        data-swiper-animation="fadeInUp"
                        data-duration="3.5s"
                        data-delay="0.25s"
                        style="visibility: hidden"
                        >Learn More<span></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <span
          class="swiper-notification"
          aria-live="assertive"
          aria-atomic="true"
        ></span>
      </div>
      <!-- Pagination -->
      <div
        class="swiper-button-prev text-white"
        tabindex="0"
        role="button"
        aria-label="Previous slide"
      >
        <i class="fa fa-arrow-left"></i>
      </div>
      <div
        class="swiper-button-next text-white"
        tabindex="0"
        role="button"
        aria-label="Next slide"
      >
        <i class="fa fa-arrow-right"></i>
      </div>
    </section>
    <!--=================================
    Banner -->

    <!--=================================

    <!--=================================
    About -->
    <section class="space-ptb">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-4 mb-lg-0 pr-xl-6">
            <div class="section-title mb-4">
              <h2 class="title">Personal Education, Extraordinary Success</h2>
              <p class="lead mb-0">
                Commitment is something that comes from understanding that
                everything has its price and then having the willingness to pay
                that price.
              </p>
            </div>
            <p class="mb-4 mb-lg-5">
              The other virtues practice in succession by Franklin were silence,
              order, resolution, frugality, industry, sincerity, Justice,
              moderation, cleanliness, tranquility, chastity and humility. For
              the summary order he followed a little scheme of employing his
              time each day.
            </p>
            <a
              href="http://themes.potenzaglobalsolutions.com/html/academic/#"
              class="btn btn-primary btn-round"
              >Read More</a
            >
          </div>
          <div class="col-lg-6 pr-lg-5">
            <div class="row">
              <div class="col-sm-7">
                <img
                  class="img-fluid w-100 border-radius"
                  src="templates/img/01.jpg"
                  alt=""
                />
              </div>
              <div class="col-sm-5 mt-sm-5 mt-4">
                <img
                  class="img-fluid mb-sm-2 w-100 border-radius"
                  src="templates/img/02.jpg"
                  alt=""
                />
                <div
                  class="
                    position-relative
                    bg-overlay-black-50
                    border-radius
                    overflow-hidden
                    mt-4
                  "
                >
                  <img
                    class="img-fluid border-radius"
                    src="templates/img/03.jpg"
                    alt="image"
                  />
                  <a
                    class="btn-animation position-center popup-youtube"
                    href="https://www.youtube.com/watch?v=LgvseYYhqU0"
                  >
                    <i class="fas fa-play"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    About -->

    <!--=================================
    Counter -->
    <section class="space-pb">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="counter">
              <div class="counter-icon">
                <i class="flaticon-team-1"></i>
              </div>
              <div class="counter-content">
                <span class="timer" data-to="1790" data-speed="10000"
                  >1790</span
                >
                <label>Satisfied Students</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="counter">
              <div class="counter-icon">
                <i class="flaticon-diploma-1"></i>
              </div>
              <div class="counter-content align-self-center">
                <span class="timer" data-to="245" data-speed="10000">245</span>
                <label>Course Completed</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 mb-4 mb-md-0">
            <div class="counter">
              <div class="counter-icon">
                <i class="flaticon-support"></i>
              </div>
              <div class="counter-content">
                <span class="timer" data-to="491" data-speed="10000">491</span>
                <label>Expert Advisors</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="counter">
              <div class="counter-icon">
                <i class="flaticon-trophy-1"></i>
              </div>
              <div class="counter-content">
                <span class="timer" data-to="1090" data-speed="10000"
                  >1090</span
                >
                <label>Award Winning</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Counter -->

    <!--=================================
    Action box -->
    <section
      class="space-ptb bg-overlay-black-80 bg-holder"
      data-jarallax='{"speed": 0.5}'
      style="background-image: none"
      data-jarallax-original-styles="background-image: url(templates/img/09.jpg);"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
            <span class="text-white d-block mb-4 h6 font-weight-normal"
              >Are you ready to start your journey with us?</span
            >
            <h2 class="text-white mb-4 display-7">
              Education for Individual and Social Responsibility
            </h2>
            <a
              class="btn btn-primary mr-sm-3 mt-3"
              href="http://themes.potenzaglobalsolutions.com/html/academic/#"
              >Become A Student</a
            >
            <a
              class="btn btn-white mt-3"
              href="http://themes.potenzaglobalsolutions.com/html/academic/#"
              >Discover More</a
            >
          </div>
        </div>
      </div>
      <div
        id="jarallax-container-0"
        style="
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          pointer-events: none;
          z-index: -100;
        "
      >
        <div
          style='background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; "); position: fixed; top: 0px; left: 0px; width: 1905px; height: 681.5px; overflow: hidden; pointer-events: none; margin-top: 118.75px; transform: translate3d(0px, -352.016px, 0px);'
        ></div>
      </div>
    </section>
    <!--=================================
    Action box -->

    <!--=================================
    Why choose us -->
    <section class="bg-dark">
      <div class="container-fluid">
        <div class="row no-guuters">
          <div
            class="col-lg-6 bg-holder d-none d-lg-block"
            style="background-image: url(templates/img/05.jpg)"
          ></div>
          <div
            class="col-lg-6 px-4 px-md-5 px-lg-6 py-6 px-lg-6"
            style="background-image: url(templates/img/about/pattern.png)"
          >
            <div class="section-title">
              <h2 class="title">Why Choose Us</h2>
              <p class="mb-0">
                Let success motivate you. Find a picture of what epitomizes
                success to you and then pull it out when you are in need of
                motivation.
              </p>
            </div>
            <div class="media">
              <i
                class="
                  flaticon-knowledge
                  mr-3
                  fa-3x
                  text-white
                  border border-white border-radius
                  p-3
                  mb-0
                  font-weight-normal
                "
              ></i>
              <div class="media-body">
                <h5 class="mt-0 mb-3">Multidisciplinary study programs</h5>
                <p class="text-white mb-0">
                  For the summary order he followed a little scheme of employing
                  his time each day. From five to seven each morning he spent in
                  bodily personal attention,
                </p>
              </div>
            </div>
            <span class="border-bottom d-block my-5 border-light"></span>
            <div class="media">
              <i
                class="
                  flaticon-mortarboard-2
                  mr-3
                  fa-3x
                  text-white
                  border border-white border-radius
                  p-3
                  mb-0
                  font-weight-normal
                "
              ></i>
              <div class="media-body">
                <h5 class="mt-0 mb-3">International study programs</h5>
                <p class="text-white mb-0">
                  saying a short prayer, thinking over the day’s business and
                  resolutions, studying and eating breakfast. From eight till
                  twelve he worked at his trade.
                </p>
              </div>
            </div>
            <span class="border-bottom d-block my-5 border-light"></span>
            <div class="media">
              <i
                class="
                  flaticon-team-1
                  mr-3
                  fa-3x
                  text-white
                  border border-white border-radius
                  p-3
                  mb-0
                  font-weight-normal
                "
              ></i>
              <div class="media-body">
                <h5 class="mt-0 mb-3">Highly qualified teaching staff</h5>
                <p class="text-white mb-0">
                  From twelve to one he read or overlooked his accounts and
                  dined. From two to five he worked at his trade. The rest of
                  the evening music, or diversion of some sort.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Why choose us -->

    <!--=================================
    Team -->
    <section class="space-ptb bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10 text-center">
            <!-- Section Title START -->
            <div class="section-title">
              <h2>اساتید</h2>
            </div>
            <!-- Section Title END -->
          </div>
        </div>
        <div class="row">
        {%for teacher in teachers%}
          <div class="col-lg-4 col-md-4 col-sm-6 mb-4 mb-md-0">
            <!-- team-01 START -->
            <div class="team">
              <div class="team-img">
                <img class="img-fluid" src="{%if teacher.avatar%}{{teacher.avatar.url}}{%endif%}" alt="" />
              </div>
              <div class="team-info">
                <a
                  href="/teacher/{{teacher.id}}"
                  class="team-name"
                  >{{teacher.full_name}}</a
                >
                <p class="team-leader">{{teacher.description}}</p>
                {% comment %} <ul class="list-unstyled">
                  <li>
                    <a
                      href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                </ul> {% endcomment %}
              </div>
            </div>
            <!-- team-01 END -->
          </div>
        {%endfor%}
        </div>
      </div>
    </section>
    <!--=================================
    Team -->

    <!--=================================
    Articles -->
    <section class="space-ptb position-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-10 text-center">
            <!-- Section Title START -->
            <div class="section-title">
              <h2 class="title">آخرین اخبار</h2>
              {% comment %} <p>
                Check out our latest blog posts, articles, client success
                stories and essential announcement
              </p> {% endcomment %}
            </div>
            <!-- Section Title END -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 mb-0">
            <!-- Blog 02 START -->
            {% for blog in blogs %}
              <div class="blog d-md-flex border-bottom mb-4 pb-4">
              <!-- Blog image -->
              <div class="blog-image mr-0 mr-sm-3">
                <img
                  class="img-fluid border-radius"
                  src="{% if blog.thumbnail %}{{blog.thumbnail.url}}{% endif %}"
                  alt=""
                />
              </div>
              <!-- Blog content -->
              <div class="blog-content pt-4 pt-md-0 border-0">
                <h5 class="blog-title mb-3">
                  <a
                    href="/blog/{{blog.id}}"
                    >{{blog.title}}</a
                  >
                </h5>
                <div class="blog-meta mb-0">
                  <ul class="list-unstyled mb-0 d-flex">
                    <li class="mr-3">
                      <i class="fas fa-calendar-alt pr-1"></i>{{blog.created_at}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
            <!-- Blog 02 END -->
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Articles -->

{% include './footer.html' %}
