{% include './header.html' %}

    <!--=================================
    Banner -->
    <section class="banner position-ralative">
      <div
        id="main-slider"
        class="
          swiper-container
          h-800 h-lg-700 h-md-600 h-sm-400
          swiper-container-initialized swiper-container-horizontal
        "
      >
        <div
          class="swiper-wrapper"
          style="
            transition-duration: 0ms;
            transform: translate3d(-3810px, 0px, 0px);
          "
        >
          <div
            class="
              swiper-slide
              align-items-center
              d-flex
              bg-overlay-black-40
              swiper-slide-duplicate swiper-slide-duplicate-active
            "
            style="
              background-image: url('templates/img/banner.jpg');
              background-size: cover;
              background-position: center center;
              width: 1905px;
            "
            data-swiper-slide-index="1"
          >
            <div class="swipeinner container">
              <div class="row justify-content-start">
                <div class="col-xl-8 col-lg-10 col-md-12">
                  <div class="slider-2">
                    <div
                      class="animated"
                      data-swiper-animation="fadeInUp"
                      data-duration="1s"
                      data-delay="0.25s"
                      style="visibility: hidden"
                    >
                      <h1
                        class="animated text-white mb-4"
                        data-swiper-animation="fadeInUp"
                        data-duration="1s"
                        data-delay="0.25s"
                        style="visibility: hidden"
                      >
                        The Education You Want. The Attention You Deserve
                      </h1>
                      <div
                        class="animated text-dark"
                        data-swiper-animation="fadeInUp"
                        data-duration="2.5s"
                        data-delay="0.25s"
                        style="visibility: hidden"
                      >
                        <p class="text-white d-none d-sm-block">
                          There are basically six key areas to higher
                          achievement. Some people will tell you there are four
                          while others may tell you there are eight.
                        </p>
                      </div>
                      <a
                        href="/contact-us"
                        class="animated4 btn btn-dark mt-4"
                        data-swiper-animation="fadeInUp"
                        data-duration="3s"
                        data-delay="0.25s"
                        style="visibility: hidden"
                        >Learn More<span></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Swiper Slider 1-->
          <div
            class="
              swiper-slide
              align-items-center
              d-flex
              bg-overlay-black-40
              swiper-slide-prev swiper-slide-duplicate-next
            "
            style="
              background-image: url('templates/img/banner.jpg');
              background-size: cover;
              background-position: center center;
              width: 1905px;
            "
            data-swiper-slide-index="0"
          >
            <div class="swipeinner container">
              <div class="row justify-content-center text-center">
                <div class="col-lg-10 col-md-12">
                  <div class="slider-1">
                    <div
                      class=""
                      data-swiper-animation="fadeInUp"
                      data-duration="1s"
                      data-delay="0.25s"
                      style="
                        visibility: visible;
                        animation-duration: 1s;
                        animation-delay: 0.25s;
                      "
                    >
                      <h1
                        class="text-white mb-4"
                        data-swiper-animation="fadeInUp"
                        data-duration="1.5s"
                        data-delay="0.25s"
                        style="
                          visibility: visible;
                          animation-duration: 1.5s;
                          animation-delay: 0.25s;
                        "
                      >
                        گروه گامپیوتر دانشگاه یادگار امام(ره)
                      </h1>
                      <a
                        href=""
                        class="animated4 btn btn-primary mt-4 ml-1 ml-sm-2"
                        data-swiper-animation="fadeInUp"
                        data-duration="3.5s"
                        data-delay="0.25s"
                        style="
                          visibility: visible;
                          animation-duration: 3.5s;
                          animation-delay: 0.25s;
                        "
                        >تماس با ما<span></span
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <span
          class="swiper-notification"
          aria-live="assertive"
          aria-atomic="true"
        ></span>
      </div>
      <!-- Pagination -->
      <div
        class="swiper-button-prev text-white"
        tabindex="0"
        role="button"
        aria-label="Previous slide"
      >
        <i class="fa fa-arrow-left"></i>
      </div>
      <div
        class="swiper-button-next text-white"
        tabindex="0"
        role="button"
        aria-label="Next slide"
      >
        <i class="fa fa-arrow-right"></i>
      </div>
    </section>
    <!--=================================
    Banner -->

    <!--=================================

    <!--=================================
    About -->
    <section class="space-ptb">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-4 mb-lg-0 pr-xl-6">
            <div class="section-title mb-4">
              <h2 class="title" style="direction: rtl">دانشگاه آزاد واحد یادگار امام(ره)</h2>
              <p class="lead mb-0" style="direction: rtl">
                دانشگاه آزاد اسلامی واحد یادگار امام خمینی(ره) شهرری به عنوان قطب علمی شبکه های ارتباطی و حمل و نقل شناخته شده است و در این راستا حرکت های جدید را در جهت تبدیل شدن به دانشگاه حل مساله آغاز کرده است.
              </p>
            </div>
          </div>
          <div class="col-lg-6 pr-lg-5">
            <div class="row">
              <div class="col-sm-7">
                <img
                  class="img-fluid w-100 border-radius"
                  src="templates/img/01.jpg"
                  alt=""
                />
              </div>
              <div class="col-sm-5 mt-sm-5 mt-4">
                <img
                  class="img-fluid mb-sm-2 w-100 border-radius"
                  src="templates/img/02.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    About -->

    <!--=================================
    Counter -->
    <section class="space-pb">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="counter">
              <div class="counter-content">
                <span class="timer" data-to="18000" data-speed="10000"
                  >۱۸۰۰۰</span
                >
                <label style="text-align: center;">دانشجو</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="counter">
              <div class="counter-content align-self-center">
                <span class="timer" data-to="175000" data-speed="10000">۱۷۵۰۰۰</span>
                <label style="text-align: center;">جلد کتاب</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 mb-4 mb-md-0">
            <div class="counter">
              <div class="counter-content">
                <span class="timer" data-to="491" data-speed="300">300</span>
                <label style="text-align: center;">عضو هیات علمی</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="counter">
              <div class="counter-content">
                <span class="timer" data-to="245" data-speed="10000"
                  >245</span
                >
                <label style="text-align: center;">رشته تحصیلی</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Counter -->

    <!--=================================
    Why choose us -->
    <section class="bg-dark">
      <div class="container-fluid">
        <div class="row no-guuters">
          <div
            class="col-lg-6 bg-holder d-none d-lg-block"
            style="background-image: url(templates/img/05.jpg)"
          ></div>
          <div
            class="col-lg-6 px-4 px-md-5 px-lg-6 py-6 px-lg-6"
            style="background-image: url(templates/img/about/pattern.png)"
          >
            <div class="section-title">
              <h2 class="title" style="text-align: right;">همیشه پاسخگوی شما هستیم</h2>
              <p class="mb-0" style="text-align: right;">
                در دوران کرونا با رعایت پروتکل همیشه پاسخگوی شما هستیم.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Why choose us -->

    <!--=================================
    Team -->
    <section class="space-ptb bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10 text-center">
            <!-- Section Title START -->
            <div class="section-title">
              <h2>اساتید</h2>
            </div>
            <!-- Section Title END -->
          </div>
        </div>
        <div class="row">
        {%for teacher in teachers%}
          <div class="col-lg-4 col-md-4 col-sm-6 mb-4 mb-md-0">
            <!-- team-01 START -->
            <div class="team">
              <div class="team-img">
                <img class="img-fluid" src="{%if teacher.avatar%}{{teacher.avatar.url}}{%endif%}" alt="" />
              </div>
              <div class="team-info">
                <a
                  href="/teacher/{{teacher.id}}"
                  class="team-name"
                  >{{teacher.full_name}}</a
                >
                <p class="team-leader">{{teacher.description}}</p>
                {% comment %} <ul class="list-unstyled">
                  <li>
                    <a
                      href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="http://themes.potenzaglobalsolutions.com/html/academic/#"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                </ul> {% endcomment %}
              </div>
            </div>
            <!-- team-01 END -->
          </div>
        {%endfor%}
        </div>
      </div>
    </section>
    <!--=================================
    Team -->

    <!--=================================
    Articles -->
    <section class="space-ptb position-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-10 text-center">
            <!-- Section Title START -->
            <div class="section-title">
              <h2 class="title">آخرین اخبار</h2>
              {% comment %} <p>
                Check out our latest blog posts, articles, client success
                stories and essential announcement
              </p> {% endcomment %}
            </div>
            <!-- Section Title END -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 mb-0">
            <!-- Blog 02 START -->
            {% for blog in blogs %}
              <div class="blog d-md-flex border-bottom mb-4 pb-4">
              <!-- Blog image -->
              <div class="blog-image mr-0 mr-sm-3">
                <img
                  class="img-fluid border-radius"
                  src="{% if blog.thumbnail %}{{blog.thumbnail.url}}{% endif %}"
                  alt=""
                />
              </div>
              <!-- Blog content -->
              <div class="blog-content pt-4 pt-md-0 border-0">
                <h5 class="blog-title mb-3">
                  <a
                    href="/blog/{{blog.id}}"
                    >{{blog.title}}</a
                  >
                </h5>
                <div class="blog-meta mb-0">
                  <ul class="list-unstyled mb-0 d-flex">
                    <li class="mr-3">
                      <i class="fas fa-calendar-alt pr-1"></i>{{blog.created_at}}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
            <!-- Blog 02 END -->
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Articles -->

{% include './footer.html' %}
